Client/node_modules
Server/run.bat
Server/node_modules
Server/lib/node_modules
Server/Web/public/js/**
!Server/Web/public/js/jquery.js
Server/sub/global.json
Server/sub/nick.json
node_modules/**
.idea